* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

.background-default{
    background-color: rgb(216, 203, 188);
}

header {
    width: 100%;
    height: 100px;
    margin-top: 40px;
    position: absolute;
    z-index: 1;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 1.3s;
}

/* SCROLL PERSONALIZADO */

body::-webkit-scrollbar {
    width: 10px;
    background: rgba(153, 74, 0, 0.741);
}

body::-webkit-scrollbar-thumb {
    background: rgb(249, 216, 175);
    border-radius: 10px;
    border: 2px solid rgba(153, 74, 0, 0.741);
}