/* FOOTER */

footer {
    background-color: bisque;
    p {
    text-align: map-get($estilos, centro);
    padding-top: 15px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(153, 74, 0);
    }
    ul{
        text-align: map-get($estilos, centro);
        li {                  
            display: inline-block;
            position: relative;
            a {
                text-decoration: none;
                color: rgb(153, 74, 0);
            }
        }
    }
}
/* extend-propio */
.bi {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    color: rgb(153, 74, 0);
}

.bi-instagram:hover {
    @extend .bi;
    color: #ff09ce;
    transition: 0.3s;
}

.bi-facebook:hover {
    @extend .bi;
    color: #0040ff;
    transition: 0.3s; 
}
  
.bi-twitter:hover {
    @extend .bi;
    color: #19bdf8;
    transition: 0.3s; 
}