/* INICIO */

h1 {
    position: absolute;
    top: 50%;
    font-size: 100px;
    color: map-get($estilos, color);
    text-shadow: 0 0 15px black;
    font-family: map-get($estilos, fuente);
}

.background-image {
    background-image: url(../images/welcome.jpg);
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    height: 100vh;
}