/* media-query */

@media screen and (max-width: 1620px) {

    .titles-text {
        margin-top: 10%;
    }

    .title-ubicacion {
        margin-top: 10%;
    }

    .maps {
        margin: auto;
    }

    .title-contacto {
        margin-top: 10%;
    }
    
}

@media screen and (max-width: 1135px) {

    .titles-text {
        margin-top: 15%;
    }

    .title-ubicacion {
        margin-top: 15%;
    }

    .title-contacto {
        margin-top: 15%;
    }

    .info-text {
        margin-top: 25%;
    }
    
}

@media screen and (max-width: 991px) {
    
    h1 {
        font-size: 70px;
    }
    .footer { 
        p {
        font-size: 14px;
        }
        li a {
        font-size: 14px;
        }
    }

    h2 {
        font-size: 40px;
    }

    .info-text {
        font-size: 13px;
    }
    
    .titles-text {
        font-size: 27px;
    }

    .image-product {
        width: 160px;
        height: 160px;
    }

    .textline-bot {
        font-size: 14px;
    }

    .title-ubicacion {
        font-size: 25px;
    }
    

    .title-contacto {
        font-size: 25px;
    }

    .subtitle {
        font-size: 16px;
    }

}

@media screen and (max-width: 775px) {

    .titles-text {
        margin-top: 20%;
    }

    .title-ubicacion {
        margin-top: 20%;
    }

    .title-contacto {
        margin-top: 20%;
    }

    .info-title {
        margin-top: 6%;
    }

    .info-text {
        padding-top: 10%;
    }
    
}

@media screen and (max-width: 605px) {

    .titles-text {
        margin-top: 30%;
    }

    .title-ubicacion {
        margin-top: 30%;
    }

    .title-contacto {
        margin-top: 30%;
    }

    .info-title {
        margin-top: 10%;
    }

    .info-text {
        padding-top: 14%;
    }
    
}

@media screen and (max-width: 425px) {

    .info-title {
        font-size: 40px;
        margin-top: 20%;
    }

    .info-text {
        padding-top: 30%;
    }
    
}

@media screen and (max-width: 375px) {

    .titles-text {
        margin-top: 37%;
    }

    .title-ubicacion {
        margin-top: 35%;
    }

    .title-contacto {
        margin-top: 35%;
    }
    
}

@media screen and (max-width: 320px) {
    
    .titles-text {
        margin-top: 43%;
    }

    .title-ubicacion {
        font-size: 22px;
        margin-top: 40%;
    }

    .title-contacto {
        margin-top: 40%;
    }

    .info-title {
        font-size: 40px;
        margin-top: 25%;
    }

    .info-text {
        padding-top: 35%;
    }
        
}