/* menu-info */ 

.info-title {
    position: absolute;
    color: map-get($estilos, color);
    font-size: 50px;
    text-align: map-get($estilos, centro);
    padding-top: 15%;
    font-family: map-get($estilos, fuente);
    text-shadow: 0 0 15px black;
}

.info-text {
    margin-top: 20%;
    color: map-get($estilos, color);
    font-size: 17px;
    font-family: map-get($estilos, fuente);
    text-shadow: 0 0 8px black;
}
