/* menu-productos */

.titles-text {
    margin-top: 7%;
    color: map-get($estilos, color);
    font-size: 30px;
    text-align: map-get($estilos, centro);
    padding: 10px;
    font-family: map-get($estilos, fuente);
    text-shadow: 0 0 3px black;
}

.titles-text2 {
    color: map-get($estilos, color);
    font-size: 30px;
    text-align: map-get($estilos, centro);
    padding: 10px;
    font-family: map-get($estilos, fuente);
    text-shadow: 0 0 3px black;
}

.products {
    @include productos-flex;
}

.image-product {
    @include image-size (200px, 200px);
    padding: 10px;
    text-shadow: 0 0 15px black;
}

.textline-bot {
    color: map-get($estilos, color);
    font-size: 16px;
    text-align: map-get($estilos, centro);
    padding: 10px;
    font-family: map-get($estilos, fuente);
    text-shadow: 0 0 3px black;
     a {
        text-shadow: 0 0 1px black;
    }
}