/* menu-ubicacion */

.title-ubicacion {
    margin-top: 7%;
    color: whitesmoke;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    font-family: "Oswald";
    text-shadow: 0 0 3px black;
}

.maps {
    display: block;
    margin-left: 34%;
    width: 600px; 
    height: 450px;
}