/* menu-ubicacion */

.title-ubicacion {
    margin-top: 7%;
    color: map-get($estilos, color);
    font-size: 25px;
    text-align: map-get($estilos, centro);
    padding: 10px;
    font-family: map-get($estilos, fuente);
    text-shadow: 0 0 3px black;
}

.maps {
    display: block;
    width: 600px; 
    height: 450px;
}