/* menu-info */ 

.info-title {
    position: absolute;
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
    padding-top: 15%;
    font-family: "Oswald";
    text-shadow: 0 0 15px black;
}

.info-text {
    margin-top: 20%;
    color: whitesmoke;
    font-size: 17px;
    font-family: "Oswald";
    text-shadow: 0 0 8px black;
}
