* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

.background-default{
    background-color: rgb(216, 203, 188);
}

header {
    width: 100%;
    height: 100px;
    margin-top: 40px;
    position: absolute;
    z-index: 1;
    background-color: bisque;
}

/* MENU BOOTSTRAP */

.logo {
    width: 100px;
}

.nav-item {
    display: inline-block;
    font-size: 18px;
    padding: 10px;
    width: max-content;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(153, 74, 0);
}

.nav-link {
    padding: 8px 12px;
    border-radius: 5px;
    color: rgb(153, 74, 0);
}

.nav-link:hover {
    background-color: rgb(153, 74, 0);
    color: bisque;
    transition: 0.5s;
}



/* main */

h1 {
    position: absolute;
    top: 50%;
    font-size: 100px;
    color: ghostwhite;
    text-shadow: 0 0 15px black;
    font-family: "Oswald";
}

.background-image {
    grid-area: main;
    background-image: url(../images/welcome.jpg);
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    height: 100vh;
}

/* footer */

footer {
    background-color: bisque;
}

footer p {
    text-align: center;
    padding-top: 15px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(153, 74, 0);
}

footer li a {
    text-decoration: none;
    color: rgb(153, 74, 0);
    padding: 2px 4px;
    border-radius: 2px;
}

footer li {
    display: inline-block;
    position: relative;
    padding: 5px 10px;
}

footer ul {
    text-align: center;
}

footer li a:hover {
    background-color: rgb(153, 74, 0);
    color: bisque;
    transition: 0.5s;
}

/* menu-info */ 

.info-title {
    position: absolute;
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
    padding-top: 15%;
    font-family: "Oswald";
    text-shadow: 0 0 15px black;
}

.info-text {
    margin-top: 25%;
    color: whitesmoke;
    font-size: 17px;
    font-family: "Oswald";
    text-shadow: 0 0 8px black;
}

/* menu-productos */

.titles-text {
    margin-top: 7%;
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    font-family: "Oswald";
    text-shadow: 0 0 3px black;
}

.titles-text2 {
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    font-family: "Oswald";
    text-shadow: 0 0 3px black;
}

.image-product {
    align-items: center;
    width: 200px;
    height: 200px;
    padding: 10px;
    text-shadow: 0 0 15px black;
}

.textline-bot {
    color: whitesmoke;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    font-family: "Oswald";
    text-shadow: 0 0 3px black;
}

.textline-bot a {
    text-shadow: 0 0 1px black;
}

/* menu-ubicacion */

.title-ubicacion {
    margin-top: 6%;
    color: whitesmoke;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    font-family: "Oswald";
    text-shadow: 0 0 3px black;
}

.maps {
    display: block;
    margin-left: 34%;
    width: 600px; 
    height: 450px;
}

/* menu-contacto */


.title-contacto {
    margin-top: 6%;
    color: whitesmoke;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    font-family: "Oswald";
    text-shadow: 0 0 3px black;
}

.subtitle {
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    font-family: "Oswald";
    text-shadow: 0 0 3px black;
}

form {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=text], input[type=email], textarea {
    width: 70%;
    padding: 20px;
    margin: 5px 0;
    resize: vertical;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 4px;
}

input[type=submit] {
    background-color: #d49d36;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

/* media-query */

@media screen and (max-width: 991px) {
    
    h1 {
        font-size: 70px;
    }
    .footer p {
        font-size: 14px;
    }

    .footer li a {
        font-size: 14px;
    }

    h2 {
        font-size: 40px;
    }

    .info-text {
        font-size: 13px;
    }
    
    .titles-text {
        font-size: 27px;
    }

    .image-product {
        width: 160px;
        height: 160px;
        margin-left: 35%;
    }

    .textline-bot {
        font-size: 14px;
    }

    .maps {
        width: 450px;
        height: 600px;
    }

    .title-ubicacion {
        font-size: 25px;
    }

    .title-contacto {
        font-size: 25px;
    }

    .subtitle {
        font-size: 16px;
    }

}